#svg_Width {height: 100%;}
.mapLink:hover path {fill: rgb(144, 255, 144);}
  .legend1 {width: 50px; height: 20px; background: #b6e2ff; display: inline-block; margin-right: 10px;}
  .legend2 {width: 50px; height: 20px; background: rgb(142, 195, 255); display: inline-block; margin-right: 10px;}
  .legend3 {width: 50px; height: 20px; background: #49bcff; display: inline-block; margin-right: 10px;}
  .legend4 {width: 50px; height: 20px; background: #008ae6; display: inline-block; margin-right: 10px;}
  .legend5 {width: 50px; height: 20px; background: #0048ce; display: inline-block; margin-right: 10px;}

.text-center {
text-align: center;
}
